# Architecture
BR2_arm=y
BR2_cortex_a8=y
BR2_ARM_EABIHF=y
BR2_ARM_FPU_NEON=y
BR2_ARM_INSTRUCTIONS_THUMB2=y

# System configuration
BR2_TARGET_GENERIC_HOSTNAME="lima-memtester"
BR2_TARGET_GENERIC_ISSUE="Welcome!"
BR2_TARGET_GENERIC_GETTY=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyS0"

# Lock to 3.17 headers to avoid breaking with newer kernels
BR2_KERNEL_HEADERS_VERSION=y
BR2_DEFAULT_KERNEL_VERSION="3.17"
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_3_17=y

BR2_TOOLCHAIN_BUILDROOT_GLIBC=y

BR2_PACKAGE_RUBY=y
BR2_PACKAGE_LIMA_MEMTESTER=y
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y

BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_LZMA=y
BR2_TARGET_ROOTFS_CPIO_UIMAGE=y

BR2_ROOTFS_OVERLAY="board/sunxi/lima_memtester/rootfs_overlay"
